[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
boto3 = "*"
fastapi = "*"
aiohttp = "*"
uvicorn = "*"
flask = {extras = ["async"], version = "*"}
requests = "*"
async-timeout = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.13"
